
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
 {% load static %}

{% block content %}

    <div class="content-container_login">
        <div class="login-form_login" >
            <h1 class="text-warning">Paiement réussit!</h1>
    <div class="alert alert-warning" role="alert">
        Félicitations ! Votre paiement a été effectué avec succès.
    </div>


            <div class="form-group mt-2 bg-warning" id="signup-button">
            <button class="btn_login bg-warning text-dark " style=""><a href="{% url 'home_without_filter' %} " style="text-decoration:none; color :black;" >ACCUEIL</a></button>
          </div>
        </div>

    </div>
{% endblock %}
