asgiref==3.7.2
beautifulsoup4==4.12.3
crispy-bootstrap4==2023.1
crispy-bootstrap5==2023.10
crispy-forms-materialize==0.2
Django==5.0.1
django-bootstrap4==24.1
django-crispy-forms==2.1
psycopg2-binary==2.9.9
python-decouple==3.8
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
