{% extends 'users/base.html' %}

{% block title %}
Changement de mot de passe
{% endblock title %}

{% block content %}
    <div class="content-container_login ">
        <div class="login-form_login bg-dark">


                    <legend class="border-bottom mb-4" style="color: white;">Mot de passe réinitialisé</legend>

<!--  <h2>Mot de passe réinitialisé</h2>-->
  <p  class="text-warning">Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>

          <div class="form-group  bg-warning" id="signup-button">
                        <a href="{% url 'login' %}"   class="text-decoration-none text-dark" >Se Connecter</a>
                     </div>

                  </div>
    </div>
{% endblock %}
