{% extends 'users/base.html' %}
{% block title %}
Email de réinitialisation
{% endblock title %}
{% load static %}

{% block content %}
    <div class="content-container_login ">
        <div class="login-form_login bg-dark">
                    <legend class="border-bottom mb-4" style="color: white;">Email de réinitialisation envoyé</legend>

<!--<h2 class="text-white"></h2>-->
  <p class="text-warning">Nous vous avons envoyé un e-mail avec les instructions pour réinitialiser votre mot de passe. Veuillez vérifier votre boîte de réception.</p>



                  </div>
    </div>

{% endblock %}
