{% extends 'users/base.html' %}

{% block title %}
Changement de mot de passe
{% endblock title %}

{% block content %}
    <div class="content-container_login ">
        <div class="login-form_login bg-dark">
<h2>Confirmer la réinitialisation du mot de passe</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group mt-2 bg-warning" id="signup-button">
                    <button type="submit" class="btn_login bg-warning text-dark">Réinitialiser le mot de passe</button>
                </div>
    <button type="submit">Réinitialiser le mot de passe</button>
  </form>



                  </div>
    </div>
{% endblock %}

