{% extends 'users/base.html' %}
{% block title %}
Réinitialisation mot de passe
{% endblock title %}

{% block content %}
    <div class="content-container_login ">
        <div class="login-form_login bg-dark">


<!-- Formulaire pour réinitialiser le mot de passe -->
<form method="post">
    <legend class="border-bottom mb-4" style="color: white;">Réunitialisation mot de passe</legend>

    {% csrf_token %}
    {{ form.as_p }}
<!--    <button type="submit">Réinitialiser le mot de passe</button>-->
    <div class="form-group mt-2 bg-warning" id="signup-button">
        <button type="submit" class="btn_login bg-warning text-dark">Envoyer le lien de réinitialisation</button>
    </div>
</form>
        </div>
    </div>
{% endblock %}