{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
 {% load static %}
{% load i18n %}

{% block content %}



<div class="content-container_login">
  <div class="login-form_login" >

  <h1 class="text-danger">{% trans "Supprimer le bien" %}</h1>
  <p class="text-warning">{% blocktrans %}Êtes-vous sûr de vouloir supprimer ce bien ? Cette opération est irréversible.{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <div class="form-group mt-2 bg-warning" id="signup-button">
    <button class="btn_login bg-warning text-white" type="submit">{% trans "Oui, supprimer ce bien" %}</button>

<!--      <button class="btn_login bg-"><a href="{% url 'updateProfile' %} " class="text-white" style="text-decoration:none" >MODIFIER</a></button>-->
    </div>
  </form>

  </div>
</div>
{% endblock %}