{% extends 'users/base.html' %}

{% block content %}

<!--<style>-->
<!--  body {-->
<!--    font-family: Arial, Helvetica, sans-serif;-->
<!--  }-->

<!--  .form-section {-->
<!--    background-color: #f2f2f2;-->
<!--    border: 1px solid #ddd;-->
<!--    padding: 1.5rem;-->
<!--    border-radius: 0.5rem;-->
<!--    width: 45%; /* Adjusted width for better balance */-->
<!--    margin: 1rem auto; /* Ensures centering on all devices */-->
<!--  }-->

<!--  label {-->
<!--    font-weight: bold;-->
<!--  }-->

<!--  button {-->
<!--    width: 100%;-->
<!--  }-->

<!--  .facture {-->
<!--    background-color: #343a40;;-->
<!--    border: 1px solid #ddd;-->
<!--    color:white;-->
<!--    padding: 1.5rem;-->
<!--    border-radius: 0.5rem;-->
<!--    width: 45%; /* Adjusted width for better balance */-->
<!--    margin: 1rem auto; /* Ensures centering on all devices */-->
<!--  }-->

<!--  .container {-->
<!--    display: flex;-->
<!--    justify-content: center; /* Horizontal centering with flexbox */-->
<!--  }-->
<!--</style>-->
<style>
  .list-group-item{
  background-color : #212529;
  color:white;
  }
</style>
<script>
    function updateTotalPriceAndDays() {
        var startDate = new Date(document.getElementById('id_debut_reservation').value);
        var endDate = new Date(document.getElementById('id_fin_reservation').value);
        var numDays = (endDate - startDate) / (1000 * 60 * 60 * 24); // Calcul du nombre de jours entre les dates
        var unitPrice = parseFloat('{{ bien.prix|floatformat:2 }}'.replace(',', '.')); // Récupérer le prix unitaire depuis le contexte Django
        var totalPrice = numDays * unitPrice;
        document.getElementById('total-price').innerText = totalPrice.toFixed(2) + " F"; // Mettre à jour le prix total affiché
        document.getElementById('total-price2').innerText = totalPrice.toFixed(2) + " F"; // Mettre à jour le prix total affiché
        document.getElementById('num-days').innerText = numDays; // Mettre à jour le nombre de jours affiché
    }
</script>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h1 class="mt-5 text-center text-white bg-warning"></h1>

    <div class="content-container_login  my-0">
        <div class="login-form_login bg-dark">
                    <legend class="border-bottom mb-4" style="color: white;">Validation de la réservation</legend>

  <div class="facture my-0">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><label class="text-white">Prix Total : </label><span class="mx-4 text-warning" id="total-price">{{ bien.prix }} F</span></p>
    <p class="text-warning text-center col-sm-12"><strong>Conditions de paiement :</strong> 15 minutes</p>

      <!-- <button type="submit" class="btn bg-warning" style="color: dark; background-color: yellow;">CONFIRMER</button> -->
      <div class="text-center">
        <div class="form-group mt-2 bg-warning" id="signup-button">
          <button type="submit" class="btn_login bg-warning text-dark">JE CONFIRME</button>
        </div>
      </div>
    </form>
  </div>
          <hr class="text-white bg-white py-1 text-decoration-underline" style="color:white;"/>
<div class="container">
  <div class="facture row">
    <h1 id="entete" class="text-center text-warning col-sm-12">Facture</h1>

    <ul class="list-group list-group-flush bg-light text-dark">
      <li class="list-group-item"><strong >Nom du bien :</strong><span class="text-warning"> {{ bien.nom|truncatechars:15 }}</span> </li>
      <li class="list-group-item"><strong>Nom du locataire :</strong><span class="text-warning">  {{ request.user.username }}</span></li>
      <li class="list-group-item"><strong>Email du locataire :</strong><span class="text-warning">  {{ request.user.email }}</span></li>
      <li class="list-group-item"><strong>Nom du propriétaire :</strong><span class="text-warning">  {{ bien.proprietaire }}</span></li>
      <li class="list-group-item"><strong>Prix pour 1 jour :</strong><span class="text-warning">  {{ bien.prix }} F</span></li>
      <li class="list-group-item"><strong>Nombre de jours :</strong> <span class="text-warning" id="num-days">1</span></li>
      <li class="list-group-item"><strong>Prix Total :</strong> <span class="text-warning" id="total-price2">{{ bien.prix }} F</span></li>
    </ul>

    <p class="text-warning text-center col-sm-12"><strong>Conditions de paiement :</strong> 15 minutes</p>

    <div class="col-sm-12 text-center mt-2">
      <div class="form-group bg-warning" id="signup-button">
        <button class="btn_login bg-warning">
          <a href="{% url 'updateProfile' %} " class="text-dark" style="text-decoration:none">Modifier mes infos</a>
        </button>
      </div>
    </div>
  </div>
</div>




                  </div>
    </div>


<!-- Appeler la fonction updateTotalPriceAndDays lorsque les dates de début ou de fin changent -->
<script>
    document.getElementById('id_debut_reservation').addEventListener('change', updateTotalPriceAndDays);
    document.getElementById('id_fin_reservation').addEventListener('change', updateTotalPriceAndDays);
    // Fonction pour obtenir la date d'aujourd'hui au format YYYY-MM-DD
    function getCurrentDate() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // janvier est 0!
        var yyyy = today.getFullYear();

        return yyyy + '-' + mm + '-' + dd;
    }

    // Fonction pour obtenir la date suivante au format YYYY-MM-DD
    function getNextDate() {
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);

        var dd = String(tomorrow.getDate()).padStart(2, '0');
        var mm = String(tomorrow.getMonth() + 1).padStart(2, '0'); // janvier est 0!
        var yyyy = tomorrow.getFullYear();

        return yyyy + '-' + mm + '-' + dd;
    }

    // Assigner la date d'aujourd'hui par défaut au champ de début de réservation
    document.getElementById('id_debut_reservation').value = getCurrentDate();

    // Assigner la date suivante par défaut au champ de fin de réservation
    document.getElementById('id_fin_reservation').value = getNextDate();

</script>

{% endblock %}
