{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <style>
        /* Ajoutez ici vos styles CSS pour le formulaire */
        /* Utilisez les mêmes styles que ceux utilisés dans register.html */
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            /* Utiliser la hauteur de la fenêtre pour centrer verticalement */
        }
        .form-control-feedback {
            color: red; /* Couleur du texte */
            font-size: 12px; /* Taille de police */
        }
        .required-field::after {
            content: "*"; /* Ajouter un astérisque */
            color: red; /* Couleur de l'astérisque */
            margin-left: 5px; /* Marge à gauche de l'astérisque */
            font-size: 12px; /* Taille de police */
        }
    </style>
    <div class="center-content mt-5 mx-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color: white;">Créer un nouveau produit</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-primary" type="submit">Créer le produit</button>
        </form>
    </div>
{% endblock %}
