<!-- templates/users/detail_bien.html -->
{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<style>
  .carousel-item img:hover {
    transform: scale(1.1); /* Changez la valeur selon vos préférences */
    transition: transform 0.3s ease; /* Animation de transition */
  }
</style>
					<!-- /Product thumb imgs -->
<div class="container mt-5 mb-5">
  <div class="row align-items-center justify-content-md-between mt-5">
    <div class="col-lg-6 order-last order-lg-first mt-5">
      <img src="{{ bien.image_principale.url }}" alt="Image Principale" class="w-100 mt-5 mb-4 mb-lg-0">
    </div>
    <div class="col-lg-5 ml-auto mt-5">
      <h1>{{ bien.nom }}</h1>
      <p><strong>Catégorie:</strong> {{ bien.categories }}</p>
      <p><strong>Date:</strong> {{ bien.date_created }}</p>
      <p><strong>Localisation:</strong> {{ bien.localisation }}</p>
      <p><strong>Description:</strong></p>
      <p>{{ bien.description|safe }}</p>
      <p><strong>Prix:</strong> {{ bien.prix }}</p>
      <p><strong>État:</strong> {{ bien.etat }}</p>
      <!-- Afficher la moyenne des avis -->
{% if moyenne_avis %}
    <p>Nombre d'étoiles :
        {% for i in "⭐⭐⭐⭐⭐" %}
            {% if forloop.counter <= moyenne_avis %}
                {{ i }}
            {% endif %}
        {% endfor %}
    </p>
{% else %}
    <p>Aucun avis disponible</p>
{% endif %}

      <!-- Affichage des avis sur le bien -->
      <h2>Avis sur le bien</h2>
      {% for avis in bien.avis.all %}
        <p><strong>Note:</strong> {{ avis.note }}/5</p>
        <p><strong>Commentaire:</strong> {{ avis.commentaire }}</p>
        <hr>
      {% empty %}
        <p>Aucun avis pour le moment.</p>
      {% endfor %}
    </div>
  </div>

</div>
<div class="text-center">
    <div class="form-group mt-2 bg-warning" id="signup-button">
        <a href="{% url 'do_reservation' bien.id %}" class="btn_login bg-warning text-dark">Reserver</a>
    </div>
    <div class="form-group mt-2 bg-warning" id="signup-button">
    <a href="{% url 'ajouter_avis' bien.id %}" class="btn_login bg-warning text-dark">Ajouter avis</a>
</div>

</div>


  <h2 class="text-dark mt-5 mb-5">Biens Similaires</h2>

<div class="row g-4 mx-2">
    {% if related_biens %}
    {% for bien in related_biens %}
<!--    <div class="col-md-6 col-lg-4 col-xl-3">-->
<!--        <div class="rounded position-relative fruite-item bg-white">-->
<!--            <div class="fruite-img min-height-200">-->
<!--                {% if bien.image_principale %}-->
<!--                <a href="{% url 'detail_bien' bien.id %}"><img src="{{ bien.image_principale.url }}" class="img-fluid w-100 rounded-top bien-image" alt="{{ bien.nom }}" style="height: 200px; cursor: pointer;"></a>-->
<!--                {% else %}-->
<!--                <a href="{% url 'detail_bien' bien.id %}"><img src="{% static 'media/biens_photos/default_image.png' %}" class="img-fluid w-100 rounded-top bien-image" alt="Image par défaut" height="200px" style="cursor: pointer;"></a>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <div class="position-absolute" style="top: 10px; left: 10px;">-->
<!--                <div class="text-white bg-warning px-2 py-1 rounded">{{ bien.categories }}</div>-->
<!--            </div>-->
<!--            <div class="position-absolute" style="top: 10px; left: 150px;">-->
<!--                &lt;!&ndash; Etat des biens (Disponible / Non Disponible)&ndash;&gt;-->
<!--                <div class="text-white bg-warning px-2 py-1 rounded">{{ bien.etat }}</div>-->
<!--            </div>-->

<!--            <div class="p-4 border-top-0 rounded-bottom">-->
<!--&lt;!&ndash;                <div class="text-white bg-warning px-2 py-1 rounded">dans 24heure</div>&ndash;&gt;-->

<!--                <h4 class="text-warning"><a href="{% url 'detail_bien' bien.id %}" class="text-decoration-none text-reset">{{ bien.nom|truncatechars:40 }}</a></h4>-->
<!--                &lt;!&ndash; Afficher les 100 premiers caractères de la description &ndash;&gt;-->
<!--                <p class="text-dark  mb-0">{{ bien.description|truncatechars:100 }}</p>-->
<!--                <div class="d-flex justify-content-between flex-lg-wrap">-->
<!--                    <p class="text-dark fs-5 fw-bold mb-0">{{ bien.prix }} F/ jour</p>-->
<!--                    <div class="d-flex text-center">-->
<!--                        <a href="{% url 'detail_bien' bien.id %}" class="btn border mx-1 border-secondary rounded-pill  text-center text-primary">DETAILS</a>-->
<!--                        <a href="{% url 'do_reservation' bien.id %}" class="btn border border-secondary rounded-pill text-primary">RESERVER</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="rounded position-relative fruite-item bg-white">
            <div class="fruite-img min-height-200">
                {% if bien.image_principale %}
                <a href="{% url 'detail_bien' bien.id %}"><img src="{{ bien.image_principale.url }}" class="img-fluid w-100 rounded-top bien-image" alt="{{ bien.nom }}" style="height: 200px; cursor: pointer;"></a>
                {% else %}
                <a href="{% url 'detail_bien' bien.id %}"><img src="{% static 'media/biens_photos/default_image.png' %}" class="img-fluid w-100 rounded-top bien-image" alt="Image par défaut" height="200px" style="cursor: pointer;"></a>
                {% endif %}
            </div>
                    <div class="position-absolute" style="top: 10px; left: 10px;">
                <div class="text-white bg-warning px-2 py-1 rounded">{{ bien.categories }}</div>
            </div>
            <div class="position-absolute" style="top: 10px; left: 150px;">
                <!-- Etat des biens (Disponible / Non Disponible)-->
                <div class="text-white bg-warning px-2 py-1 rounded">{{ bien.etat }}</div>
            </div>

        <div class="p-4 border-top-0 rounded-bottom d-flex flex-column ">
            <h4 class="text-warning text-center"><a href="{% url 'detail_bien' bien.id %}" class="text-decoration-none text-reset">{{ bien.nom|truncatechars:40 }}</a></h4>
            <p class="text-dark mb-0">{{ bien.description|truncatechars:100 }}</p>
            <!-- Affichage de la moyenne des avis -->
            {% if bien.moyenne_avis %}
<!--                <p class="text-dark mb-0">{{ bien.moyenne_avis }}/5</p>-->
                <p class="text-dark mb-0">{% for i in "⭐⭐⭐⭐⭐" %}
                        {% if forloop.counter <= bien.moyenne_avis %}
                            {{ i }}
                        {% endif %}
                    {% endfor %}
                </p>
            {% else %}
                <p class="text-dark mb-0">⭐⭐⭐⭐</p>
            {% endif %}
            <div class="d-flex justify-content-between flex-lg-wrap w-100">
                <p class="text-dark fs-5 fw-bold mb-0">{{ bien.prix }} F/ jour</p>
                <div class="d-flex align-items-end">
                    <a href="{% url 'detail_bien' bien.id %}" class="btn border mx-1 border-secondary rounded-pill text-center text-primary">DETAILS</a>
                    <a href="{% url 'do_reservation' bien.id %}" class="btn border border-secondary rounded-pill text-primary">RESERVER</a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endfor %}
    {% else %}
        <div class="mt-5">
        <p class="text-danger fs-5">Vous n'avez aucun bien pour le moment!</p>

        </div>
    {% endif %}
</div>


<script>
  $(document).ready(function(){
    $('#carouselExampleIndicators').carousel({
      interval: 2000 // Changez cette valeur selon vos préférences (en millisecondes)
    });
  });
</script>

{% endblock %}
