{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  /* Appliquez le style de limited-width sur les div parents des textarea */
  .limited-width textarea, .limited-width select {
    /* Limitez la largeur à 80% de son parent */
    max-width: 80%;
    /* Centrez horizontalement les textarea et select */
    margin: 0 auto;
  }
</style>
<div class="content-container_login">
  <div class="login-form_login">
    <h1 class="text-white">{% trans "Editer le bien" %}</h1>
<!--    <form method="post">-->
<!--      {% csrf_token %}-->
<!--      <fieldset class="form-group ">-->
<!--        {{ form|crispy }}-->
<!--      </fieldset>-->
<!--      <div class="form-group mt-2 bg-warning" id="signup-button">-->
<!--        <button class="btn ">{% trans "Enregistrer les modifications" %}</button>-->
<!--      </div>-->
<!--    </form>-->
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
      <div class="form-group mt-2 bg-warning" id="signup-button">
        <button class="btn" type="submit">Enregistrer</button>
<!--        <button class="btn ">{% trans "Enregistrer les modifications" %}</button>-->
      </div>
</form>

  </div>
</div>
{% endblock %}