{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
login page
{% endblock title %}

{% block content %}
    <div class="content-container_login ">
        <div class="login-form_login bg-dark">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: white;">Connexion</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-2 bg-warning" id="signup-button">
                    <button class="btn_login bg-warning text-dark">Se connecter</button>
                </div>
<!--                <div class="text-white">ou</div>-->
            <div class="container mt-4  p-3">
   <a class="btn btn-warning" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i>&nbsp;Github</a>
      <a class="btn btn-warning" href="{% url 'social:begin' 'google-oauth2' %}"> <i class="fab fa-google"></i>&nbsp;Google</a>
    </div>

                <div class="form-group">
                    <small class="text-muted ml-3">Mot de passe oublié? <a class="text-warning" href="{% url 'password_reset' %}"> Réinitialiser le mot de passe</a></small>
                </div>
                <div class="form-group">
                    <small class="text-muted ml-3">Pas encore de compte? <a class="text-warning" href="{% url 'register' %}"> Inscrivez vous!</a></small>
                </div>
                <div class="form-group">
                    <small class="text-muted ml-3">Compte non activé? <a class="text-warning" href="{% url 'demande_nouveau_token' %}"> Demandez un nouveau token</a></small>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
