
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
 {% load static %}

{% block content %}

    <div class="content-container_login">
        <div class="login-form_login" >





      <h1 class="text-white">Vous êtes déconnecté(e)!</h1>
      <p class="text-warning">Cliquez sur le bouton en bas pour vous reconnecter</p>
          <div class="form-group mt-2 bg-warning" id="signup-button">
            <button class="btn_login bg-warning text-dark " style=""><a href="{% url 'login' %} " style="text-decoration:none; color :black;" >SE RECONNECTER</a></button>
          </div>
        </div>

    </div>
{% endblock %}
