
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
 {% load static %}

{% block content %}

    <div class="content-container_login">
        <div class="login-form_login" >
<!--            <h2 class="text-white">nom : {{user.username}}</h2>-->
<div class="d-flex text-white">
    <p class="text-white">Username : </p><strong class="text-warning mx-5" style="float: right;">{{ user.username }}</strong>

</div>
<div class="d-flex  text-white">
    <p class="text-white ">Nom : </p><strong class="text-warning mx-5" style="float: right;">{{ user.nom }}</strong>
</div>

<div class="d-flex text-white">
    <p class="text-white">Email : </p><strong class="text-warning mx-5" style="float: right;">{{ user.email }}</strong>
</div>
<div class="d-flex text-white">
    <p class="text-white">Numero : </p><strong class="text-warning mx-5" style="float: right;">{{ user.numero_tel }}</strong>
</div>


                <div class="form-group mt-2 bg-warning" id="signup-button">
                    <button class="btn_login bg-warning text-dark " style=""><a href="{% url 'updateProfile' %} " style="text-decoration:none; color :black;" >MODIFIER</a></button>
                </div>

        </div>


    </div>
{% endblock %}
