{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <div class="content-container_login mt-5">
        <div class="login-form_login" >
            <legend class="border-bottom mb-4" style="color: white;">Inscription</legend>
            <div class="container mt-4 bg-white p-3">
   <a class="btn btn-warning" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i>&nbsp;Login</a>
      <a class="btn btn-warning" href="{% url 'social:begin' 'google-oauth2' %}"> <i class="fab fa-google"></i>&nbsp;Login</a>
</div>
            <div class="text-white">Ou </div>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-2 bg-warning" id="signup-button">
                    <button class="btn_login bg-warning text-dark">S'inscrire</button>
                </div>
                <div class="form-group">
                    <small class="text-muted ml-3">Vous avez déjà un compte? <a class="link text-warning" href="{% url 'login' %}"> Connectez vous!</a></small>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
