{% extends 'users/base.html' %}

{% block content %}
  <h1 class="mt-5">Mes Réservations</h1>
  {% if reservations %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Bien Loué</th>
          <th scope="col">Nombre de Jours</th>
          <th scope="col">Prix Total</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
          <th scope="col">Paiement</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
          <tr>
            <td>{{ reservation.bienloue }}</td>
            <td>{{ reservation.nombre_jours }}</td>
            <td>{{ reservation.prix_total }}</td>
            <td>{{ reservation.status }}</td>
            <td>
              <form method="post" action="{% url 'cancel_reservation' reservation.id %}">
                {% csrf_token %}
                <button class="btn mx-1" style="color: white; background-color: #fd5e14;" type="submit" id="header-links"> ANNULER </button>


              </form>
            </td>
            <td>
        <div class="form-group mt-2 bg-warning" id="signup-button">
            <button class="btn_login bg-warning text-dark " style=""><a href="{% url 'process_payment' reservation.id %}"  style="text-decoration:none; color :black;">Effectuer le paiement</a></button>
        </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune réservation trouvée.</p>
  {%endif %}
{% endblock %}