{% extends 'users/base.html' %}
 {% load static %}

{% block content %}

    <div class="content-container_login">
        <div class="login-form_login" >

      <h1 class="text-white">Activation compte!</h1>
            <h3 class="text-warning">Un problème s'est survecue lors de l'activtion de votre compte!</h3>
            <p class="text-warning">Le lien d'activation de votre compte est invalide ou a expiré. Veuillez contacter le support si vous avez besoin d'aide.</p>
          <div class="form-group mt-2 bg-warning" id="signup-button">
            <button class="btn_login bg-warning text-dark " style="">
                <a href="{% url 'contactUs' %} " style="text-decoration:none; color :black;" >Contacter le support</a></button>
          </div>
        </div>

    </div>
{% endblock %}
