
{% extends 'users/base.html' %}
 {% load static %}

{% block content %}

    <div class="content-container_login">
        <div class="login-form_login" >


      <h1 class="text-white">Réussit Félicitations!</h1>
            <h3 class="text-warning">Votre inscription a été validé!</h3>
      <p class="text-white">Merci de consulter votre boîte de réception et de suivre les instructions pour <span class="text-warning ">activer votre compte.</span></p>

        </div>

    </div>
{% endblock %}


